<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\logs\web_python.log" startupTimeLimit="20" processPath="C:\Program Files\Python\python.exe" arguments="-m uvicorn --port %HTTP_PLATFORM_PORT% main:app --log-level debug">
        </httpPlatform>
    </system.webServer>
</configuration>